In [21]:
import pandas as pd
import numpy as np

In [2]:
students=pd.DataFrame({
    "001": {"姓名": "小陈", "考试1": 85, "考试2": 95, "考试3": 92},
    "002": {"姓名": "小李", "考试1": 91, "考试2": 92, "考试3": 94},
    "003": {"姓名": "小王", "考试1": 86, "考试2": 81, "考试3": 89},
    "004": {"姓名": "小张", "考试1": 79, "考试2": 89, "考试3": 95},
    "005": {"姓名": "小赵", "考试1": 96, "考试2": 91, "考试3": 91},
    "006": {"姓名": "小周", "考试1": 81, "考试2": 89, "考试3": 92}
    })
students=students.T

In [10]:
name=students["姓名"]
average=students.loc[:,"考试1":"考试3"].mean(axis=1)
students_average=pd.DataFrame({"姓名":name,"平均分":average})
students_average

     姓名        平均分
001  小陈  90.666667
002  小李  92.333333
003  小王  85.333333
004  小张  87.666667
005  小赵  92.666667
006  小周  87.333333

In [29]:
second_height_1=students.loc[:,"考试1":"考试3"].apply(lambda x: np.sort(x))
second_height_2=second_height_1.loc["005"]
second_height_2

考试1    91
考试2    92
考试3    94
Name: 005, dtype: object

In [41]:
students.loc[:,"考试1":"考试3"].apply(lambda x: np.sort(x)[-2])

考试1    91
考试2    92
考试3    94
dtype: int64

In [65]:
def grade(score):
    if score>=95:
        return "A"
    elif score>=90:
        return "B"
    elif score>=85:
        return "B+"
    elif score>=80:
        return "C"
    elif score>=75:
        return "C+"
    else:
        return C
students.loc[:,"考试1":"考试3"].map(grade)

    考试1 考试2 考试3
001  B+   A   B
002   B   B   B
003  B+   C  B+
004  C+  B+   A
005   A   B   B
006   C  B+   B

In [61]:
students["考试1"]=students["考试1"].astype('int')
students["考试2"]=students["考试2"].astype('int')
students["考试3"]=students["考试3"].astype('int')
students.describe()

             考试1        考试2        考试3
count   6.000000   6.000000   6.000000
mean   86.333333  89.500000  92.166667
std     6.314006   4.722288   2.136976
min    79.000000  81.000000  89.000000
25%    82.000000  89.000000  91.250000
50%    85.500000  90.000000  92.000000
75%    89.750000  91.750000  93.500000
max    96.000000  95.000000  95.000000